.list-container {
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  margin-bottom: 20px;
  height: 70vh;
  max-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
