.list-container {
  width: 90%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  overflow: auto;
  max-height: 73.5vh;
}

@media screen and (max-width: 768px) {
  .list-container {
    max-height: 40vh;
  }
}
