.footer {
  width: 100vw;
  border-top: 1px solid black;
  padding-top: 15px;
  font-weight: 700;
}

.info-container {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

p {
  height: 10px;
  display: flex;
  align-items: center;
}

.fa-heart {
  color: red;
  margin-left: 3px;
  margin-right: 3px;
}

.github {
  height: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.github:hover {
  color: black;
  text-decoration: wavy;
}

.github i {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
