.footer {
  width: 100vw;
  padding-top: 5px;
  font-weight: 700;
  padding: 0px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
}

.footer-container {
  width: 100vw;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid black;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  width: 100%;
  margin: 0;
}

.fa-heart {
  color: red;
  margin-left: 3px;
  margin-right: 3px;
}

.github {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.github:hover {
  color: black;
  text-decoration: wavy;
}

.github i {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 50px;
  }

  footer p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
