.column {
  display: flex;
  flex-direction: column;
}

.icon-yellow {
  color: rgb(255, 193, 45);
}

.icon-green {
  color: rgb(0, 162, 182);
}

.temp-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.temperature {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px auto;
}
