.forecast {
  height: 70vh;
  max-height: 560px;
  padding-bottom: 15px;
}

.scroll {
  max-height: 450px;
  overflow: auto;
}

.title {
  background-color: rgb(220, 220, 220);
  padding: 20px;
  margin: 0px;
}

.subtitle {
  font-size: 1.4rem;
  padding: 17px;
  margin: 0px;
}
